name: mvc_web
description: A custom framework that works with Flutter and an established design pattern to build interactive and comprehensive Web apps.

version: 1.6.0

homepage: https://www.andrioussolutions.com
repository: https://github.com/AndriousSolutions/mvc_web

environment:
  sdk: ">=2.16.1 <3.0.0"
#  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

  # https://pub.dev/packages/auto_size_text/
  auto_size_text: ^3.0.0

  # https://pub.dev/packages/mvc_application/
  mvc_application: ^8.0.0  # mvc_pattern 8.8.2
#    path: ../../packages/mvc_application

  # https://pub.dev/packages/state_set/
  state_set: ^3.0.0
#    path: ../../packages/state_set

  # https://pub.dev/packages/url_launcher/
  url_launcher: ^6.0.0

  # https://pub.dev/packages/file_picker/
  file_picker: ^4.0.0

  # https://pub.dev/packages/universal_html/
  universal_html: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
